name: Deploy Node.js app to Azure

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - run: npm install

      - uses: azure/webapps-deploy@v3
        with:
          app-name: cicdtesting
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
